.filtreTexte {
    font-size: 19px;
}

body {
    background-color: #e9ecef;
}

.toolBox {
    background-color: #EFECE9;
    border-radius: 5px;
    border: solid #1e1a15;
    margin-top: 30px;
}

#sidebar {
    background-color: #e9ecef;
}

.form {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}