* {
    color: #0c0c0e;
}

html {
    background-color: #e9ecef;
}

.body {
    background-color: #e9ecef;
}

.banner {
    background-color: #242428;;
}

.jumbotron {
    background-color: #e9ecef;
}

#loginBox {
    background-color: #EFECE9;
    margin-top: 2%;
    border: solid #1e1a15;
}

.erreur {
    color: #b0251a;
    font-weight: bold;
}