.nav-item:hover {
    font-weight: bolder;
    text-decoration: underline;
    background-color: #232329;
    transition: 0.3s;
}

.nav-link-custom:hover {
    color: #797986;
}

.navbar-custom {
    color: #0c0c0e;
    background-color: #323237;
    font-weight: bold;
}

.nav-link-custom {
    text-decoration: none;
    color: #0c0c0e;
}