<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/general.css"/>
    </head>

    <body class="body">
        {{include('navbar.html.twig')}}
        <div class="jumbotron">
            <h1>Bienvenue <b>{{login}},</b>
            {% if admin %}
                vous êtes connecté au back-office.
            {% else %}
                vous êtes connecté au front-office.
            {% endif %}
            </h1>
        </div>
    </body>
</html>