<!DOCTYPE html>
<html>
    <head>
        <title>Accès refusé</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <p>Accès refusé, veuillez vous authentifier à l'adresse suivante: <a href={{path("login")}}>127.0.0.1:8000/login</a></p>
    </body>
</html>