<div class="tableau" style="width:75%; border: 1px solid black;">
    <table>
        <tr>
            <td style="width: 30px; border: 1px solid black;">ID</td>
            <td style="width: 200px; border: 1px solid black;">Raison Sociale</td>
            <td style="width: 250px; border: 1px solid black;">Adresse</td>
            <td style="width: 150px; border: 1px solid black;">Pays</td>
        </tr>
    </table>
</div>