<!DOCTYPE html>
<html>
    <head>
        <title>Modification</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/general.css"/>
    </head>

    <body class="body">
        {{include('navbar.html.twig')}}
        <h1>Modification {{titre}}</h1>
        {{form(form)}}
    </body>
</html>