<!DOCTYPE html>
<html>
    <head>
        <title>Modification</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/general.css"/>
    </head>

    <body class="body">
        {{include('navbar.html.twig')}}
        <div class="toolBox isolated">
            <h1 class="custom-text larger isolated">Modification {{titre}}</h1>
            <div class="form isolated">
                {{form(form)}}
            </div>
        </div>
    </body>
</html>